In [2]:
# importing the dependencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
# loading the dataset to a pandas DataFrame
credit_card_data = pd.read_csv("creditcard.csv")

In [5]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [7]:
# last 5 rows of the dataset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
1981,1524,-0.340622,1.132232,1.291494,0.062313,0.016387,-0.977070,0.723755,-0.074630,-0.396655,...,-0.262948,-0.688785,-0.010937,0.334061,-0.160025,0.071779,0.245128,0.098336,5.35,0.0
1982,1525,-1.842696,1.740641,0.861526,-0.856315,-0.655376,-0.842786,0.198563,0.602764,0.455595,...,-0.213609,-0.400617,0.030013,0.512611,-0.077087,0.286218,0.586012,0.352610,1.00,0.0
1983,1525,-0.480693,0.646091,1.577264,-0.084411,-0.305958,-0.534739,0.860346,-0.028569,-0.800705,...,0.121681,0.175190,0.035986,0.557665,-0.112301,0.337154,-0.015602,0.051504,80.70,0.0
1984,1525,-0.342132,1.091125,1.282729,0.068076,-0.022498,-0.996727,0.676304,-0.042250,-0.312036,...,-0.269850,-0.734148,-0.007354,0.319161,-0.179146,0.073683,0.241932,0.097139,3.59,0.0
1985,1526,-0.854343,1.382948,1.278665,2.914727,-0.183139,-0.349329,0.274566,0.435277,-1.576521,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1986 entries, 0 to 1985
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    1986 non-null   int64
 1   V1      1986 non-null   float64
 2   V2      1986 non-null   float64
 3   V3      1986 non-null   float64
 4   V4      1986 non-null   float64
 5   V5      1986 non-null   float64
 6   V6      1986 non-null   float64
 7   V7      1986 non-null   float64
 8   V8      1986 non-null   float64
 9   V9      1986 non-null   float64
 10  V10     1986 non-null   float64
 11  V11     1986 non-null   float64
 12  V12     1986 non-null   float64
 13  V13     1986 non-null   float64
 14  V14     1985 non-null   float64
 15  V15     1985 non-null   float64
 16  V16     1985 non-null   float64
 17  V17     1985 non-null   float64
 18  V18     1985 non-null   float64
 19  V19     1985 non-null   float64
 20  V20     1985 non-null   float64
 21  V21     1985 non-null   float64
 22  V22     1985 non-null   float64
 23  V23     1985 non-null   float64
 24  V24     1985 non-null   float64
 25  V25     1985 non-null   float64
 26  V26     1985 non-null   float64
 27  V27     1985 non-null   float64
 28  V28     1985 non-null   float64
 29  Amount  1985 non-null   float64
 30  Class   1985 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 481.1 KB

In [9]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [12]:
# distribution of legit taransactions & fraud transactions
credit_card_data['Class'].value_counts()

0.0    1983
1.0       2
Name: Class, dtype: int64

In [15]:
# seperating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [16]:
print(legit.shape)
print(fraud.shape)

(1983, 31)
(2, 31)

In [18]:
# statistical measures of the  legit data
legit.Amount.describe()

count    1983.000000
mean       68.404892
std       241.572682
min         0.000000
25%         4.950000
50%        15.090000
75%        63.285000
max      7712.430000
Name: Amount, dtype: float64

In [19]:
# statistical measurs of the fruad data
fraud.Amount.describe()

count      2.000000
mean     264.500000
std      374.059487
min        0.000000
25%      132.250000
50%      264.500000
75%      396.750000
max      529.000000
Name: Amount, dtype: float64

In [20]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,760.974786,-0.281494,0.267200,0.848906,0.146804,-0.077904,0.051713,0.139533,-0.059771,0.014492,...,0.056618,-0.012217,-0.144666,-0.043548,0.013865,0.108318,0.049441,0.027220,-0.001966,68.404892
1.0,439.000000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.500000

In [21]:
# perform under sampling
legit_sample = legit.sample(n=492)

In [23]:
new_dataset = pd.concat([legit_sample,fraud],axis = 0)

In [24]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
892,672,1.232692,-0.532368,0.581276,-1.640318,-0.877592,-0.189292,-0.758220,0.219633,1.472512,...,0.072193,0.312139,-0.007271,-0.274399,0.231888,-0.026109,0.043128,0.007868,0.05,0.0
1420,1097,-1.453940,-0.654311,2.621222,0.683139,1.035517,0.935950,-0.131482,0.474140,0.549894,...,-0.194863,-0.326458,0.150213,-0.303973,-0.008453,-0.681772,-0.039138,-0.100309,55.94,0.0
285,204,-0.188424,0.877602,-0.734686,-0.913404,1.941770,4.037423,-1.707118,-2.537641,-0.590338,...,-0.824079,-1.042331,0.168265,0.963855,0.887850,0.171167,0.012284,0.164538,1.98,0.0
538,404,0.638806,1.772451,-1.748258,1.297700,1.785872,-1.050197,1.485730,-0.780631,0.416991,...,-0.359613,-0.061540,-0.051428,-0.764738,-0.424181,-0.418629,-0.003258,-0.541237,0.99,0.0
200,132,-1.571359,1.687508,0.734670,1.293350,-0.217532,-0.002677,0.147364,0.515362,-0.372442,...,0.048549,0.377256,-0.030436,0.117608,-0.060520,-0.296550,-0.481570,-0.167897,10.00,0.0

In [25]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
182,118,1.254914,0.350287,0.302488,0.693114,-0.371470,-1.070256,0.086781,-0.202836,0.035154,...,-0.287592,-0.832682,0.128083,0.339427,0.215944,0.094704,-0.023354,0.030892,2.69,0.0
1115,866,0.893573,-0.315898,0.263384,1.323665,-0.153240,0.602035,-0.101911,0.341776,0.272539,...,0.016298,-0.014152,-0.107098,-0.320423,0.465866,-0.304487,0.023919,0.015180,102.90,0.0
1360,1056,-0.409935,1.085135,1.280776,0.016995,0.303799,-0.527666,0.641580,0.037428,-0.479461,...,-0.227040,-0.531528,0.013418,0.038000,-0.213308,0.099748,0.264674,0.096800,2.28,0.0
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1.0
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1.0

In [26]:
new_dataset['Class'].value_counts()

0.0    492
1.0      2
Name: Class, dtype: int64

In [27]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,749.656504,-0.290570,0.288391,0.864019,0.187253,-0.028804,0.041248,0.116936,-0.020149,-0.032561,...,0.056130,-0.015020,-0.117766,-0.045483,0.026818,0.100453,0.019578,0.023347,-0.001276,59.802602
1.0,439.000000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.500000

In [28]:
# splitting the data into features and targets
X = new_dataset.drop(columns = 'Class',axis =1)
Y = new_dataset['Class']

In [29]:
print(X)

      Time        V1        V2        V3        V4        V5        V6  \
892    672  1.232692 -0.532368  0.581276 -1.640318 -0.877592 -0.189292
1420  1097 -1.453940 -0.654311  2.621222  0.683139  1.035517  0.935950
285    204 -0.188424  0.877602 -0.734686 -0.913404  1.941770  4.037423
538    404  0.638806  1.772451 -1.748258  1.297700  1.785872 -1.050197
200    132 -1.571359  1.687508  0.734670  1.293350 -0.217532 -0.002677
...    ...       ...       ...       ...       ...       ...       ...
182    118  1.254914  0.350287  0.302488  0.693114 -0.371470 -1.070256
1115   866  0.893573 -0.315898  0.263384  1.323665 -0.153240  0.602035
1360  1056 -0.409935  1.085135  1.280776  0.016995  0.303799 -0.527666
541    406 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623    472 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823

            V7        V8        V9  ...       V20       V21       V22  \
892  -0.758220  0.219633  1.472512  ... -0.125132  0.072193  0.312139
1420 -0.131482  0.474140  0.549894  ...  0.187537 -0.194863 -0.326458
285  -1.707118 -2.537641 -0.590338  ...  0.543409 -0.824079 -1.042331
538   1.485730 -0.780631  0.416991  ...  0.589654 -0.359613 -0.061540
200   0.147364  0.515362 -0.372442  ... -0.093614  0.048549  0.377256
...        ...       ...       ...  ...       ...       ...       ...
182   0.086781 -0.202836  0.035154  ... -0.079756 -0.287592 -0.832682
1115 -0.101911  0.341776  0.272539  ... -0.128266  0.016298 -0.014152
1360  0.641580  0.037428 -0.479461  ...  0.125915 -0.227040 -0.531528
541  -2.537387  1.391657 -2.770089  ...  0.126911  0.517232 -0.035049
623   0.325574 -0.067794 -0.270953  ...  2.102339  0.661696  0.435477

           V23       V24       V25       V26       V27       V28  Amount
892  -0.007271 -0.274399  0.231888 -0.026109  0.043128  0.007868    0.05
1420  0.150213 -0.303973 -0.008453 -0.681772 -0.039138 -0.100309   55.94
285   0.168265  0.963855  0.887850  0.171167  0.012284  0.164538    1.98
538  -0.051428 -0.764738 -0.424181 -0.418629 -0.003258 -0.541237    0.99
200  -0.030436  0.117608 -0.060520 -0.296550 -0.481570 -0.167897   10.00
...        ...       ...       ...       ...       ...       ...     ...
182   0.128083  0.339427  0.215944  0.094704 -0.023354  0.030892    2.69
1115 -0.107098 -0.320423  0.465866 -0.304487  0.023919  0.015180  102.90
1360  0.013418  0.038000 -0.213308  0.099748  0.264674  0.096800    2.28
541  -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276    0.00
623   1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00

[494 rows x 30 columns]

In [30]:
print(Y)

892     0.0
1420    0.0
285     0.0
538     0.0
200     0.0
       ...
182     0.0
1115    0.0
1360    0.0
541     1.0
623     1.0
Name: Class, Length: 494, dtype: float64

In [31]:
# Split the data into training data & testing data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify = Y,random_state=2)

In [32]:
print(X.shape, X_train.shape, X_test.shape)

(494, 30) (395, 30) (99, 30)

In [33]:
# now we need to train the logistic regression model
model = LogisticRegression()

In [36]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [42]:
# finally we need to evaluate our model based on accuracy scores.
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [43]:
print('Accuracy on training data :', training_data_accuracy)

Accuracy on training data : 1.0

In [44]:
# accuracy on testing data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [45]:
print('Accuracy on test data :', test_data_accuracy)

Accuracy on test data : 1.0